.vs/
*.dll
src/App.Host/bin/
src/App.Host/obj/
src/BuildingBlocks/bin/
src/BuildingBlocks/obj/
src/Modules/Identity/Identity.Api/obj/
src/Modules/Identity/Identity.Api/bin/
src/Modules/Identity/Identity.Application/obj/
src/Modules/Identity/Identity.Application/bin/
src/Modules/Identity/Identity.Domain/obj/
src/Modules/Identity/Identity.Domain/bin/
src/Modules/Identity/Identity.Infrastructure/bin/
src/Modules/Identity/Identity.Infrastructure/obj/
src/Modules/Inventory/Inventory.Api/obj/Debug/
src/Modules/Inventory/Inventory.Api/bin/Debug/
src/Modules/Inventory/Inventory.Application/obj/
src/Modules/Inventory/Inventory.Domain/obj/Debug/
src/Modules/Inventory/Inventory.Infrastructure/bin/
src/Modules/Inventory/Inventory.Infrastructure/obj/
src/Modules/Sales/Sales.Api/obj/Debug/
src/Modules/Sales/Sales.Application/bin/
src/Modules/Inventory/Inventory.Application/bin/
src/Modules/Sales/Sales.Api/bin/
src/Modules/Sales/Sales.Api/obj/
src/Modules/Sales/Sales.Application/obj/Debug/
src/Modules/Sales/Sales.Domain/obj/
src/Modules/Sales/Sales.Infrastructure/bin/
src/Modules/Sales/Sales.Infrastructure/obj/
src/Modules/Sales/Sales.Domain/bin/
src/Modules/Sales/Sales.Application/obj/
src/Modules/Inventory/Inventory.Domain/obj/
src/Modules/Inventory/Inventory.Domain/bin/
